.modal-body > input:not(:first-child):not(:last-child){
  margin: 10px 0;
}

.modal-body label{
  display: flex;
  align-items: center;
}

.modal-body label span,
.modal-body label input{
  flex: 1;
}