.card {
  min-width: fit-content;
  margin-right: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.card.delivery .card-header-info-item,
.card.takeaway .card-header-info-item{
  margin-right: 0.3rem;
}
.card .card-title{
  font-size: 1.3em;
  margin-bottom: 0.5rem;
}

.card .card-header{
  background-color: #fff;
}
.card .card-header-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card .card-header-info .left{
  padding-right: 10px;
}

.card .card-header-info .right{
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}
.card .card-header-info .right .info-item-count{
  font-size: 2em;
}
.card .card-header-info-item:not(:last-child){
  margin-right: 10px;
}
.card .icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 2px;
}

.card .info-item-label{
  color: rgba(0,0,0,0.5);
}

.card .icon.user-icon{
  background-image: url('../images/avatar.png');
}
.card .icon.gift-icon{
  background-image: url('../images/gift.png');
}
.card .icon.clock-icon{
  background-image: url('../images/clock.png');
}
.card .icon.cost-icon{
  background-image: url('../images/money.png');
}
.card .icon.group-icon{
  width: 20px;
  height: 20px;
  background-image: url('../images/group.png');
}
.card .icon.alarm-icon{
  background-image: url('../images/appointment.png');
}
.card .icon.phone-icon{
  background-image: url('../images/phone.png');
}
.card .icon.marker-icon{
  background-image: url('../images/marker.png');
}
.card .card-body{
  display: flex;
  flex-direction: column;
}
.card .includes{
  flex: 1;
}
.card .includes-label{
  font-size: 1.1em;
  font-weight: bold; 
}
.card .includes-list{
  margin: 10px 0;
  max-width: 350px;
  background-color: rgba(0,0,0,0.09);
  padding: 10px;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.2);
}
.card .includes-item{
  display: inline-flex;
  position: relative;
  align-items: center;
  padding-left: 0.4rem;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  margin-right: 3px;
  margin-bottom: 3px;
  cursor: pointer;
  overflow: hidden;
}
.card .includes-item.with-extras{
  padding-left: 0.6rem;
}
.card .includes-item .includes-item-quantity{
  position: absolute;
  display: inline-block;
  top: -3px;
  left: 2px;
  color: #fff;
}

.card .includes-item.with-extras::before{
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  top: -15px;
  left: -15px;
  transform: rotate(45deg);
  background-color: var(--dark-grey);
}

.card .includes-item .includes-item-label{
  margin-right: 10px;
}
.card .includes-item .includes-item-count {
  background-color: var(--primary-color);
  color: white;
  padding: 7px;
  padding-right: 10px;
}
.includes-item-details-popover .popover-extra-item{
  display: flex;
  justify-content: space-between;
}
.includes-item-details-popover .popover-title{
  margin-right: 1rem;
}
.card .phone-address{
  color: rgba(0,0,0,0.5);
}
.card .feedback{
  font-style: italic;
  color: var(--dark-grey);
}
.card .card-footer{
  display: flex;
  justify-content: space-between;
}
.custom-dropdown{
  display: inline-block;
}
.custom-dropdown .btn-secondary{
  border-radius: 20px;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}
.custom-dropdown .btn-secondary:hover{
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}
.custom-dropdown .btn-secondary.dropdown-toggle:focus,
.custom-dropdown.show .btn-secondary.dropdown-toggle:focus{
  box-shadow: unset;
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}
.custom-dropdown.show .btn-secondary.dropdown-toggle:active,
.custom-dropdown .btn-secondary.dropdown-toggle:active{
  box-shadow: unset;
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}
.card.new{
  border-top: 3px solid green;
}
.card.inprogress,
.card.inwaiting{
  border-top: 3px solid dodgerblue;
}
.card.track,
.card.received{
  border-top: 3px solid crimson;
}