.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: #fff;
}

.footer .product-version{
  font-size: 0.9em;
}

.footer .company-logo{
  vertical-align: text-bottom;
}