.header .navbar{
  background-color: var(--primary-color) !important;
}
.header .navbar-brand{
  color: #fff !important;
}
.header .navbar-nav{
  align-items: center;
}
.header .nav-link{
  color: #fff !important;
}
.header .dropdown-item-link{
  padding: 0;
}
.header .dropdown-item-link a{
  display: block;
  padding: 0.25rem 1.5rem;
}
.header .dropdown-item-link a:active{
  color: #fff;
}
.header .dropdown-item-link a:hover{
  text-decoration: none;  
}
.header .status-dropdown-menu{
  min-width: 14rem;
}
.header .status-dropdown-menu button.dropdown-item{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header .navbar-nav {
    align-items: unset;
  }
}