.history ul.pagination{
  justify-content: center;
}
.history .table th,
.history .table td{
  padding: 0.3rem;
}
.history .search-container{
  display: flex;
  margin-bottom: 20px;
}
.history .search-container form{
  display: flex;
}
.history .form-control,
.history .btn{
  border-radius: unset;
}
.history .search-container .form-control{
  margin-right: 2px;
}
.history .search-container .form-control[type="select"]{
  height: calc(2.25rem + 4px);
}
.history .info{
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}
.history .info p{
  margin: 0;
}
.history .btn-white{
  background-color: #fff;
  border-color: #ced4da;
}
.history .search-btn img{
  vertical-align: text-top;
}
@media screen and (max-width: 768px){
  .history .search-container form{
    flex-wrap: wrap;
  }
  .history .search-container .form-control{
    margin-bottom: 5px;
    margin-right: 0px;
  }
}