.home .head-links{
  text-align: center;
}
.home .head-links .custom-link{
  padding-left: 32px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 8px center;
}
.home .head-links .custom-link.link-delivery{
  background-image: url('../images/motorcycle-grey.png');
}
.home .head-links .custom-link.link-delivery.active{
  background-image: url('../images/motorcycle-white.png');
}
.home .head-links .custom-link.link-dinein{
  background-image: url('../images/dine-in-grey.png');
}
.home .head-links .custom-link.link-dinein.active{
  background-image: url('../images/dine-in-white.png');
}
.home .head-links .custom-link.link-takeaway{
  background-image: url('../images/takeaway-grey.png');
}
.home .head-links .custom-link.link-takeaway.active{
  background-image: url('../images/takeaway-white.png');
}
.home .head-links .custom-link .counter-bubble{
  display: inline-block;
  font-weight: bold;
  color: var(--primary-color);
}
.home .head-links .custom-link.active .counter-bubble{
  display: none;
}