.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.icon.icon-settings{
  background-image: url('../images/baseline_settings_white_18dp.png');
  background-size: 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}