@import './variables.css';
@import './icons.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1{
  font-weight: var(--fw);
}

.brand-logo{
  font-family: 'Righteous', cursive;
}

.img-placeholder{
  display: inline-block;
}
.custom-link, .custom-btn{
  display: inline-block;
  border-radius: 25px;
  padding: 0.375rem 0.75rem;
  border-color: var(--dark-grey);
  background-color: #fff;
  color: var(--dark-grey);
  margin: 2px;
}

.custom-btn{
  border: 1px solid;
  cursor: pointer;
}
.custom-btn:focus{
  outline: none;
}
.custom-btn.primary,
.custom-link.active,
.custom-link:hover,
.custom-btn.active,
.custom-btn:hover{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  text-decoration: none;
  color: #fff;
}

.custom-link:active,
.custom-btn:active{
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}
.visible-mobile {
  display: none;
}

@media screen and (max-width: 768px){
  .visible-mobile{
    display: inline;
  }
  .hide-mobile{
    display: none;
  }
}

.text-row{
  border-radius: 4px;
}
.text-row,
.round-shape{
  animation: placeholder-animation 1s infinite;
}
@keyframes placeholder-animation{
  0%{
    background-color: rgba(205, 205, 205, 0.5);
  }
  50%{
    background-color: rgba(205, 205, 205, 0.3);
  }
  100%{
    background-color: rgba(205, 205, 205, 0.5);
  }
}