.loader-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.loader-screen .loader-inner {
  width: 200px;
  padding: 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  background-color: #dc3545;
  color: #ffffff;
  text-align: center;
}