.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.1)
}
.login-container .login-inner{
  background-color: #fff;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
}
.login-container .login-inner h3,
.login-container .login-inner .login-btn-container{
  text-align: center;
}
.login-container .login-inner input{
  margin: 1rem 0;
}
.login-container .login-status{
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
}
.login-container .loader{
  margin-right: 0.5rem;
}
.login-container .login-message{
  margin: 0;
}
.login-container .login-message.error{
  color: red;
}