.payments ul.pagination{
  justify-content: center;
}
.payments .table th,
.payments .table td{
  padding: 0.3rem;
}
.payments .table td.paid{
  color: green;
}
.payments .table td.pending{
  color: #cec70c;
}
.payments .table td.pending-late{
  color: red;
}
.payments .search-container{
  display: flex;
  margin-bottom: 20px;
}
.payments .search-container form{
  display: flex;
  align-items: center;
}
.payments .search-container form .label:first-child{
  margin-right: 1rem;
}
.payments .search-container form .label:not(:first-child){
  margin: 0 1rem;
}
.payments .form-control,
.payments .btn{
  border-radius: unset;
}
.payments .search-container .form-control{
  margin-right: 2px;
}
.payments .search-container .form-control[type="select"]{
  height: calc(2.25rem + 4px);
}
.payments .info{
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}
.payments .info p{
  margin: 0;
}
.payments .btn-white{
  background-color: #fff;
  border-color: #ced4da;
}
.payments .search-btn img{
  vertical-align: text-top;
}
@media screen and (max-width: 768px){
  .payments .search-container form{
    flex-wrap: wrap;
  }
  .payments .search-container .form-control{
    margin-bottom: 5px;
    margin-right: 0px;
  }
}