.shop > h3{
  text-align: center;
  margin-bottom: 1rem;
}
.shop .mobile{
  width: 480px;
  height: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.1);
}
.shop .mobile .mobile__header{
  display: flex;
  background-color: #dc3545e8;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.shop .mobile .mobile__header > div{
  flex: 1;
}
.shop .mobile .mobile__header > div.middle{
  text-align: center;
}
.shop .mobile .mobile__header > div.right{
  text-align: right;
}
.shop .mobile .mobile__header img{
  vertical-align: sub;
}
.shop .mobile .mobile__appbar-inner{
  height: 56px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.shop .mobile .mobile__appbar .tabbar{
  background-color: #fff;
}
@media (min-width: 960px){
  .shop .mobile .mobile__appbar button {
      min-width: unset;
  }
}
.shop .mobile .mobile__body{
  display: flex;
  flex-wrap: wrap;
}
.shop .mobile .mobile__body .item{
  height: 150px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.shop .mobile .mobile__body .item img{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.shop .mobile .mobile__body .item .content,
.shop .mobile .mobile__body .item .price{
  position: relative;
  z-index: 3;
  color: #fff;
}
.shop .mobile .mobile__body .item .title{
  transition: transform 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.shop .mobile .mobile__body .item.half .price{
  display: none;
}
.shop .mobile .mobile__body .item .price,
.shop .mobile .mobile__body .item .content .subtitle{
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.shop .mobile .mobile__body .item .title,
.shop .mobile .mobile__body .item .price{
  transform: translateY(10px);
}
.shop .mobile .mobile__body .item .content .subtitle{
  transform: translateX(-10px);
}
.shop .mobile .mobile__body .item .content .title,
.shop .mobile .mobile__body .item .price .price-label{
  font-size: 2rem;
}

.shop .mobile .mobile__body .item:hover .price,
.shop .mobile .mobile__body .item:hover .subtitle{
  visibility: visible;
  opacity: 1;
}
.shop .mobile .mobile__body .item:hover .title,
.shop .mobile .mobile__body .item:hover .price{
  transform: translateY(0px);
}
.shop .mobile .mobile__body .item:hover .subtitle{
  transform: translateX(0px);
}
.shop .mobile .mobile__body .item.add::before{
  position: absolute;
  content: "+";
  font-size: 3rem;
  opacity: 0.4;
  top: calc(50% - 3rem * 0.75);
  left: calc(50% - 3rem * 0.1);
  transition: opacity 0.1s;
}
.shop .mobile .mobile__body .item::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  transition: background-color 0.1s;
}
.shop .mobile .mobile__body .item:hover::after{
  background-color: rgba(0, 0, 0, 0.2);
}
.shop .mobile .mobile__body .item:hover::before{
  opacity: 1;
}
.shop .mobile .mobile__body .item.full{
  width: 100%;
}
.shop .mobile .mobile__body .item.half{
  width: 50%;
}
