.status-bar{
  background-color: #eeeeee;
  height: 30px;
  overflow: hidden;
  text-align: center;
  color: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 1px rgba(0,0,0,0.3)
}
.status-bar p{
  margin: 0;
  line-height: 30px;
}
.status-bar.hide{
  animation: hide-status 0.3s ease-in-out forwards;
}
@keyframes hide-status{
  0%{
    height: 30px;
  }
  99%{
    height: 0px;
  }
  100%{
    display: none;
    visibility: hidden;
    opacity: 0;
    height: 0px;
  }
}