
.switch{
  --uiSwitchSize: var(--switchSize, 50px);
  --uiSwitchBgColor: var(--switchBgColor, #f1f1f1);
  --uiSwitchBgColorActive: var(--primary-color, #4ed164);
  --uiSwitchButtonBgColor: var(--switchButtonBgColor, #fff);  
  --uiSwitchBorderRadius: var(--switchBorderRadius, 60px);
  
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  width: var(--uiSwitchSize);
  height: calc((var(--uiSwitchSize) / 2));
  border-radius: var(--uiSwitchBorderRadius);    
  background-color: var(--uiSwitchBgColorActive);
  margin-bottom: 0;
}

.switch__label{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--uiSwitchBorderRadius);
}

.switch__toggle{
  width: 0;
  height: 0;
  opacity: 0; 
  position: absolute;
  top: 0;
  left: 0;
}

.switch__label:before, .switch__label:after{
  content: "";
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.switch__label:before{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--uiSwitchBgColor);
  border-radius: var(--uiSwitchBorderRadius);
  transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
  transform: scale(1);
  opacity: 1;
}

.switch__label:after{
  top: 50%;
  z-index: 3;
  transition: transform .4s cubic-bezier(0.44,-0.12, 0.07, 1.15);
  width: calc(var(--uiSwitchSize) / 2);
  height: calc(var(--uiSwitchSize) / 2);
  transform: translate3d(0, -50%, 0);
  background-color: var(--uiSwitchButtonBgColor);
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3); 
}

.switch .switch__toggle:checked ~ .switch__label:before{
  transform: scale(0);
  opacity: .7;
}

.switch .switch__toggle:checked ~ .switch__label:after{
  transform: translate3d(100%, -50%, 0);
}

