table.table.history-table,
table.table.payments-table{
  text-align: center;
}
table.table.history-table td.entry-cell-link,
table.table.payments-table td.entry-cell-link{
  color: var(--link-color);
  cursor: pointer;
}
table.table.history-table td.entry-cell-link:hover,
table.table.payments-table td.entry-cell-link:hover{
  color: var(--link-color-hover);
  text-decoration: underline;
}